@import 'styles/implement.styl';

.Section {
  &Title {
    padding: 25px 15px 5px;

    &Text {
      @extend .text12, .medium, .caption;
    }
  }
}

.ItemRow {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 15px;

  border-bottom-width: 1px;
  border-bottom-color: #EEEEEE;

  &Title {
    flex: 1;

    &Text {
      @extend .text14, .regular;
    }
  }
}
