@import 'styles/implement.styl'

.GuideScene {
  width: 100%;
  height: 100%;
  padding: 34px 0 0;
  background-color: white;

  &Container {
    flex: 1;
  }

  &Primary {
    padding: 10px 0 5px;

    &Text {
      @extend .text28, .bold, .primary
      line-height: 36px;
      letter-spacing: -0.6px;

      text-align: center;
    }
  }

  &Secondary {
    padding-top: 20px;

    &Text {
      @extend .text18, .regular, .caption
      line-height: 25px;
      letter-spacing: -0.36px;

      text-align: center;
    }
  }

  &Bottom {
    min-height: 210px;
    @extend .bg-background;
    padding: 30px 0 0;
  }

  &Button {
    border-radius: 20px;
    width: 180px;
    height: 40px;
    align-items: center;
    justify-content: center;
  }
}

.Pagination {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 30px 0;
}
